<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/graph.css">

  <link rel="stylesheet" href="/public/css/graph.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <title>Graphic</title>
</head>

<body>
  <div class="header">
    <a href="/home" class="logo">Game of Thrones</a>
    <div class="header-right">
    <a href="/home">Home</a>
      <a href="/search">Search</a>
      <a class="active" href="/graphic">Graphic</a>
      <a href="/interaction">Interaction</a>
    </div>
  </div>

  <div class="judul">
    <h1>
        BAR CART TOP 10 book 1
    </h1>
</div>
<div class="pindahdiagram">
    <label for="grafik" id="filter">Filter:</label>
    <select name="grafik" id="pilihan" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="graphic">book 1</option>
      <option value="graphic-book2">book 2</option>
      <option value="graphic-book3">book 3</option>
      <option value="graphic-book4">book 4</option>
      <option value="graphic-book5">book 5</option>
    </select>
    <script>
        $(function(){
          // bind change event to select
          $('#dynamic_select').on('change', function () {
              var url = $(this).val(); // get selected value
              if (url) { // require a URL
                  window.location = url; // redirect
              }
              return false;
          });
        });
    </script>
</div>

  <div class="chart">
    <input type="hidden" id="label" name="label" value="<%=label %>">
    <input type="hidden" id="data" name="data" value="<%=data %>">
    <input type="hidden" id="judul" name="judul" value="<%=judul %>">
    <canvas id="myChart" width="400" height="150"></canvas>
    <script src="js/chart.js"></script>
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: JSON.parse(document.getElementById('label').value),
            datasets: [{
                label: document.getElementById('judul').value ,
                data: JSON.parse(document.getElementById('data').value),
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
                
            }],
        },
        options: {
            scales: {
                x: {
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
                },
                y: {
                  color: 'rgba(255,255,255, 0.9)',
                  beginAtZero: true
                }
            }
        }
    });
    </script>
</div>


</body>

</html>