<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/home.css">

  <link rel="stylesheet" href="/public/css/home.css">

  <title>Interaction</title>
  <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>

    <style type="text/css">
      #mynetwork {
        width: 800px;
        height: 600px;
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
      }
    </style>
</head>

<body>
  <div class="header">
    <a href="/home" class="logo">Game of Thrones</a>
    <div class="header-right">
    <a href="/home">Home</a>
      <a href="/search">Search</a>
      <a href="/graphic">Graphic</a>
      <a class="active" href="/interaction">Interaction</a>
    </div>
  </div>

  <input type="hidden" id="nodes" name="label" value="<%=nodes %>">
  <input type="hidden" id="edges" name="label" value="<%=edges %>">

  <h2><%=selectedbook%></h2>

  <div class="container">
      <div class = "button">
        <button class="button-85" role="button"><a href="/interaction" style="text-decoration: none">Book 1</a></button>
        <button class="button-85" role="button"><a href="/interaction-book2" style="text-decoration: none">Book 2</a></button>
        <button class="button-85" role="button"><a href="/interaction-book3" style="text-decoration: none">Book 3</a></button>
        <button class="button-85" role="button"><a href="/interaction-book4" style="text-decoration: none">Book 4</a></button>
        <button class="button-85" role="button"><a href="/interaction-book5" style="text-decoration: none">Book 5</a></button>

      </div>

      <div id="mynetwork"></div>

        <script type="text/javascript">
          const nodes = JSON.parse(document.getElementById('nodes').value);
          const edges = JSON.parse(document.getElementById('edges').value);

          // create a network
          var container = document.getElementById("mynetwork");
          var data = {
            nodes: nodes,
            edges: edges,
          };
          var options = {};
          var network = new vis.Network(container, data, options);
        </script>
  </div>
</body>

</html>