*{
    box-sizing: border-box;
    font-family: Poppins;
}



.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .header a.logo {
    font-size: 25px;
    font-weight: Medium;
  }
 
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .header a.active {
    background-color: rgb(97, 97, 97);
    color: white;
  }
  
 
  .header-right {
    float: right;
  }
 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


  .images{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  
  .gambar{
    margin-left: 30px;
  }
  
  .button{
    margin-left: 80px;
    display: flex;
    align-items: center;
  }

#book1{
  margin-left: 100px;
}

.button-85 {
  margin-top: 15px;
  padding: 0.6em 2em;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 118px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(53, 53, 53);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #d4d4d4,
    #c5c5c5,
    #a7a7a7,
    #a8a8a8,
    #7f7f7f,
    #979797,
    #757575,
    #545454,
    #cdcdcd
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;
}