*{
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-image: url(/resources/wallpaperflare.com_wallpaper\ \(1\)\ copy.png);
    background-color: rgb(52, 52, 52);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  .header a.logo {
    font-size: 25px;
    font-weight: Medium;
  }
 
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .header a.active {
    background-color: rgb(97, 97, 97);
    color: white;
  }
  
 
  .header-right {
    float: right;
  }
 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

  }
  .bc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border: #ddd;
    border-width: 2px;
  }
  h3{
    color: black;
    padding-right: 20px;

  }
  .book{
    padding-right: 20px;
    color: black;
    position:relative;
  }
  .char{
    padding-right: 20px;
    color: black;
  }
  .w3-card{
    background-color: rgb(209, 209, 209);
  }
  .isi tr td{
    padding: 30px 15px;
    
  }
  
  .dalem{
    background-color: rgb(90, 87, 87);

  }
  
  /* .pagination a {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;} */